[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=filemanager
Icon=filemanager.svg
Name=File Manager
Name[am]=የ ፋይል አስተዳዳሪ
Name[ar]=مدير الملفات
Name[ast]=Xestor de ficheros
Name[be]=Кіраўнік файлаў
Name[br]=Merer restroù
Name[bs]=Menadžer datoteka
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[de]=Dateiverwaltung
Name[el]=Διαχειριστής αρχείων
Name[en_GB]=File Manager
Name[eo]=Dosiermastrumilo
Name[es]=Gestor de archivos
Name[eu]=Fitxategi-kudeatzailea
Name[fa]=مدیر پرونده
Name[fi]=Tiedostoselain
Name[fr]=Fichiers
Name[fr_CA]=Gestionnaire de fichiers
Name[gd]=Manaidsear fhaidhlichean
Name[gl]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hu]=Fájlkezelő
Name[id]=Manajer Berkas
Name[it]=Gestore file
Name[ja]=ファイルマネージャー
Name[lv]=Datņu pārvaldnieks
Name[nb]=Filbehandling
Name[nl]=Bestandsbeheer
Name[pa]=ਫ਼ਾਈਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików
Name[pt]=Gestor de ficheiros
Name[pt_BR]=Gerenciador de arquivos
Name[ro]=Manager fișier
Name[ru]=Менеджер файлов
Name[sc]=Gestore de archìvios
Name[shn]=တူဝ်ၸတ်းၵၢၼ် ၾၢႆႇ
Name[sk]=Správca súborov
Name[sl]=Upravljalnik datotek
Name[sq]=Menaxher skedari
Name[sr]=Управник датотека
Name[sv]=Filhanterare
Name[tr]=Dosya Yöneticisi
Name[ug]=ھۆججەت باشقۇرغۇ
Name[zh_CN]=文件管理器
Name[zh_TW]=檔案管理員
Keywords=folder;manager;explore;disk;filesystem;
Keywords[be]=тэчка;кіраванне;адкрыць;дыск;файлавая сістэма;
Keywords[ca]=folder;manager;explore;disk;filesystem;
Keywords[cs]=složka;správce;prohledat;disk; souborový systém;
Keywords[de]=ordner;verwalten;entdecken;speicher;dateisystem;
Keywords[en_GB]=folder;manager;explore;disk;filesystem;
Keywords[es]=folder;carpeta;manager;gestor;explore;explorar;disk;disco;filesystem;sistema de archivos;
Keywords[fi]=folder;manager;explore;disk;filesystem;kansio;hakemisto;levy;tiedostojärjestelmä;
Keywords[fr]=dossier;gestionnaire;explorer;disque;système de fichiers;
Keywords[it]=cartella;gestore;esplora;disco;filesystem;
Keywords[nb]=mappe;behandler;utforsk;disk;filsystem;
Keywords[nl]=map;beheer;verkennen;schijf;bestandssysteem;
Keywords[pl]=folder;manager;explore;dysk;system plików;
Keywords[pt]=pasta;gestor;explorar;disco;sistema;
Keywords[ru]=папка;управление;открыть;диск;файловая система;
Keywords[sc]=cartella;gestore;esplorare;discu;filesystem;
Keywords[sk]=priečinok;manažér;preskúmať;disk;súborový systém;
Keywords[zh_CN]=文件夹;管理器;探索;磁盘;文件系统;
Keywords[zh_TW]=資料夾;管理員;流覽;磁碟;檔案系統;
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Color=#F5F5F5
X-Ubuntu-Single-Instance=true
