Source: lomiri-filemanager-app
Priority: extra
Maintainer: UBports Developers <devs@ubports.com>
Build-Depends: cmake,
               debhelper-compat (= 12),
               dh-migrations,
               intltool,
               qtbase5-dev,
               qtdeclarative5-dev,
               qt5-default,
               pkg-kde-tools,
               python3-all,
               libtag1-dev,
               libsmbclient-dev,
Standards-Version: 3.9.5
Section: misc
Homepage: https://gitlab.com/ubports/development/apps/lomiri-filemanager-app
Vcs-Browser: https://gitlab.com/ubports/development/apps/lomiri-filemanager-app.git
Vcs-Git: https://gitlab.com/ubports/development/apps/lomiri-filemanager-app.git

Package: lomiri-filemanager-app
Section: misc
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         python3:any,
         qml-module-qtquick2,
         qml-module-u1db,
         qml-module-lomiri-components,
         qml-module-lomiri-components-extras,
         qml-module-lomiri-layouts,
         qml-module-lomiri-content,
         qml-module-lomiri-thumbnailer0.1,
         libsmbclient,
Description: File Manager application
 Lomiri File Manager App is a convergent file manager supporting both mobile
 devices and desktops.

Package: lomiri-filemanager-app-autopilot
Architecture: all
Depends: ${misc:Depends},
         libautopilot-qt (>= 1.4),
         libqt5test5,
         lomiri-filemanager-app (>= ${source:Version}),
         lomiri-ui-toolkit-autopilot,
         python3-autopilot,
         python3-fixtures,
         python3-lxml,
Description: Autopilot tests for Lomiri File Manager
 This package contains the autopilot tests for Lomiri File Manager
